.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
dist/test/**
script/**
.gitignore
.opencode/**
opencode.json
bun.lock
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
